db.sqlite3
webapps/__pycache__
*.log
*.pot
*.pyc

env/
client_secrets.json
keys.ini
*/migrations
.env
*.swp
*.tfstate
*.lock
.terraform.lock.hcl
*.backup
terraform-provider-*
.terraform.tfstate.lock.info

collected_static
