{% extends "base.html" %}
{% load static %}

{% block title %}
    Student Portal
{% endblock %}

{% block script %}
    <script>
        function copy() {
            navigator.clipboard.writeText("{{ server.address }}")
        }
        $(document).ready(function(){
            $('.popover-dismiss').popover({
                trigger: 'focus'
            })
            $('[data-toggle="popover"]').popover()
        });
    </script>
{% endblock %}

{% block style %}
    <style>
        i:hover {
            cursor: pointer;
            color: black !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="text-center m-3 p-3 bg-light content-box">
        <div class="h3 p-3">My Profile</div>
        <div class="p-3">
            <img src="{{ student.picture }}" alt="">
            <div class="h4 my-1">{{ student.name }}</div>
            <div class="text-muted">
                Andrew ID: <span class="font-weight-bold">{{ student.andrewID }}</span>
            </div>
            <div class="text-muted">
                IGN: <span class="font-weight-bold">{{ student.IGN }}</span>
                <a href="{% url 'registration' %}" class="ml-1">edit</a>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-md-5 col-8">
                <a href="{% url 'attendance' %}" 
                   role="button" 
                   class="btn btn-primary btn-block my-2">
                   Attendance
                </a>
                <a href="{% url 'assignments' %}" 
                   role="button" 
                   class="btn btn-primary btn-block my-2">
                   Assignments
                </a>
                <a href="{% url 'logout' %}" 
                   role="button" 
                   class="btn btn-outline-secondary btn-block my-2">
                   Log out
                </a>
            </div>
        </div>
    </div>
    {% if server %}
        <div class="text-center m-3 p-3 bg-light content-box">
            <div class="h3 p-3">Server Details</div>
            <div class="pb-3">
                <div class="h5">IP Address</div>
                <div>
                    {{ server.address }} 
                    <a class="ml-2" tabindex="0" id="copy" data-trigger="focus" onClick="copy()" data-toggle="popover" data-content="Copied to clipboard!">
                        <i class="far fa-copy text-muted"></i>
                    </a>
                </div>
            </div>
            <div class="pb-3">
                <div class="h5">Status</div>
                {% if server.players != None %}
                    <div class="text-success text-uppercase font-weight-bold">running</div>
                    <div class="text-muted">{{ server.players }} player{% if server.players > 1 %}s{% endif %} online</div>
                {% else %}
                    <div class="text-danger text-uppercase font-weight-bold">offline</div>
                    <div class="text-muted">We might be running server maintenance. Please try again later. Contact us if this issue persists.</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}