{% extends "base.html" %}
{% load static %}

{% block title %}
    Student Portal
{% endblock %}

{% block content %}
    <div class="text-center m-3 p-3 bg-light content-box">
        <div class="h2 p-3">My Profile</div>
        <div class="p-3">
            <img src="{{ student.picture }}" alt="">
            <div class="h4 my-1">{{ student.name }}</div>
            <div class="text-muted">
                Andrew ID: <span class="font-weight-bold">{{ student.andrewID }}</span>
            </div>
            <div class="text-muted">
                IGN: <span class="font-weight-bold">{{ student.IGN }}</span>
                <a href="{% url 'registration' %}" class="ml-1">edit</a>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-4">
                {% comment %} <a href="{% url 'attendance' %}" 
                   type="button" 
                   class="btn btn-primary btn-block my-2">
                   Attendance
                </a> {% endcomment %}
                <a href="{% url 'logout' %}" 
                   type="button" 
                   class="btn btn-outline-secondary btn-block my-2">
                   Log out
                </a>
            </div>
        </div>
    </div>
{% endblock %}