{% extends "base.html" %}
{% load static %}

{% block title %}
    Admin Panel
{% endblock %}

{% block content %}
    <div class="text-center m-3 p-3 bg-light content-box">
        <div class="h3 p-3">Admin Panel</div>
        <div class="row mb-3 justify-content-center">
            <div class="col-lg-5 col-md-6 col">
                <a href="{% url 'attendance' %}" 
                    role="button" 
                    class="btn btn-primary btn-block my-2">
                    Attendance
                </a>
                <a href="{% url 'excuse' %}" 
                    role="button" 
                    class="btn btn-primary btn-block my-2">
                    Excused Absences
                </a>
                <a href="{% url 'invite' %}" 
                    role="button" 
                    class="btn btn-primary btn-block my-2">
                    Invited Students
                </a>
                <a href="{% url 'records' %}" 
                    role="button" 
                    class="btn btn-primary btn-block my-2">
                    Student Records
                </a>
                <a href="{% url 'admin:index' %}" 
                    role="button" 
                    class="btn btn-primary btn-block my-2">
                    Django Admin
                </a>
                <a href="{% url 'adminpanel-action' action='semester' %}" 
                    role="button" 
                    class="btn btn-primary btn-block my-2">
                    Semester Settings
                </a>
                <br>
                <a href="{% url 'logout' %}" 
                    role="button" 
                    class="btn btn-outline-secondary btn-block my-2">
                    Log out
                </a>
            </div>
        </div>
    </div>
{% endblock %}