{% extends "base.html" %}
{% load static %}
{% load template_filters %}

{% block title %}
    Attendance
{% endblock %}

{% block script %}
    {% csrf_token %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            })
        })

        {% if user.is_superuser %}
            function rerollcode(date) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        if (xhr.status == 200) {
                            document.getElementById("id_"+date).innerHTML = xhr.responseText;
                        } else {
                            alert("Something went wrong.");
                        }
                    }
                }
                xhr.open("POST", "https://www.mcstuco.net/api/rerollcode");
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("date=" + date);
            }

            function togglesession(date, action) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        if (xhr.status == 200) {
                            if (action == "open") {
                                document.getElementById("id_opened_"+date).removeAttribute("hidden");
                                document.getElementById("id_closed_"+date).setAttribute("hidden", "hidden");
                            } else {
                                document.getElementById("id_opened_"+date).setAttribute("hidden", "hidden");
                                document.getElementById("id_closed_"+date).removeAttribute("hidden");
                            }
                        } else {
                            alert("Something went wrong.");
                        }
                    }
                }
                xhr.open("POST", "https://www.mcstuco.net/api/togglesession");
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("date=" + date + "&action=" + action);
            }
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="m-3 text-left">
            <a class="btn btn-link" onclick="history.back()">
                <i class="fas fa-angle-left"></i> Back
            </a>
        </div>
        <div class="text-center m-3 p-3 bg-light content-box">
            <table class="table" style='white-space:nowrap'>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Code</th>
                        <th>Accepting (click to toggle)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in classes %}
                        <tr>
                            <th>{{ c.date }}</th>
                            <td>
                                <span id="id_{{ c.date }}">{{ c.code }}</span>
                                <button class="btn btn-info fas fa-redo-alt text-light" onclick="rerollcode('{{ c.date }}')"/>
                            </td>
                            <td>
                                <button id="id_opened_{{ c.date }}"
                                        class="btn btn-primary"
                                        onclick="togglesession('{{ c.date }}', 'close')"
                                        {% if not c.accepting %}hidden="hidden"{% endif %}>Opened</button>
                                <button id="id_closed_{{ c.date }}"
                                        class="btn btn-danger"
                                        onclick="togglesession('{{ c.date }}', 'open')"
                                        {% if c.accepting %}hidden="hidden"{% endif %}>Closed</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="m-3 text-left">
            <a class="btn btn-link" href="{% url 'account' %}" >
                <i class="fas fa-angle-left"></i> Back
            </a>
        </div>
        <div class="text-center m-3 p-3 bg-light content-box">
            <div class="h5 p-3">Attendance Records for <span class="font-weight-bold">{{ student.andrewID }}</span></div>
            <form action="{% url 'attendance' %}" method="post" class="my-4">
                {% csrf_token %}
                <div class="d-inline-flex justify-content-center">
                    <input type="text" class="form-control w-10 bg-white"
                        name="code"
                        id="id_code"
                        placeholder="Attendance code"
                        autofocus onClick="this.select();">

                    <button type="submit" class="btn btn-primary mx-2">Submit</button>
                </div>
            </form>
            <div class="m-3">
                {% if classes|length == 0 %}
                    <div class="text-muted">
                        Nothing to show here
                    </div>
                {% else %}
                    <div class="table-responsive">
                        <table class="table" style='white-space:nowrap'>
                            <thead>
                                <tr>
                                    <th scope="col">Class</th>
                                    {% for c in classes %}
                                        <th scope="col">{{ c.date }}</td>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Status</th>
                                    {% for c in classes %}
                                        <td scope="row">
                                            <i class="{{ c.status|get_attendance_faclass }}" data-toggle="tooltip" title="{{ c.status }}"></i>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-left text-muted">You have {{ absences }} unexcused absence{% if absences > 1 or absences == 0 %}s{% endif %}*</div>
                {% endif %}
            </div>
        </div>
        <div class="text-muted font-weight-light m-4 text-left">
            * As per StuCo 
            <u><a class="text-muted" href="https://www.cmu.edu/stuco/faq/" target="_blank">policy</a></u>,
            you will be given a no pass grade if you have more than 
            <span class="font-weight-bold">two</span> 
            unexcused absences. Make sure to contact us if you can't make it to class!
        </div>
    {% endif %}
{% endblock %}