{% extends "base.html" %}
{% load static %}
{% load template_filters %}

{% block title %}
    Attendance
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        });
    </script>
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="m-3 text-left">
            <a class="btn btn-link" onclick="history.back()">
                <i class="fas fa-angle-left"></i> Back
            </a>
        </div>
        <div class="text-center m-3 p-3 bg-light content-box">
            <div class="text-center m-3">
                Code for {{ today }} is <h2 class="m-3 p-3">{{ code }}</h2>
            </div>
        </div>
    {% else %}
        <div class="m-3 text-left">
            <a class="btn btn-link" href="{% url 'account' %}" >
                <i class="fas fa-angle-left"></i> Back
            </a>
        </div>
        <div class="text-center m-3 p-3 bg-light content-box">
            <div class="h5 p-3">Attendance Records for <span class="font-weight-bold">{{ student.andrewID }}</span></div>
            <form action="{% url 'attendance' %}" method="post" class="my-4">
                {% csrf_token %}
                <div class="d-inline-flex justify-content-center">
                    <input type="text" class="form-control w-10 bg-white"
                        name="code"
                        id="id_code"
                        placeholder="Attendance code"
                        autofocus onClick="this.select();">

                    <button type="submit" class="btn btn-primary mx-2">Submit</button>
                </div>
            </form>
            <div class="m-3">
                {% if classes|length == 0 %}
                    <div class="text-muted">
                        Nothing to show here
                    </div>
                {% else %}
                    <div class="table-responsive">
                        <table class="table" style='white-space:nowrap'>
                            <tbody>
                                <tr>
                                    <th scope="col">Class</th>
                                    {% for c in classes %}
                                        <td scope="col">{{ c.date }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th scope="row">Status</th>
                                    {% for c in classes %}
                                        <td scope="row">
                                            <i class="{{ c.status|get_attendance_faclass }}" data-toggle="tooltip" title="{{ c.status }}"></i>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-left text-muted">You have {{ absences }} unexcused absence{% if absences > 1 or absences == 0 %}s{% endif %}*</div>
                {% endif %}
            </div>
        </div>
        <div class="text-muted font-weight-light m-4 text-left">
            * As per StuCo 
            <u><a class="text-muted" href="https://www.cmu.edu/stuco/faq/" target="_blank">policy</a></u>,
            you will be given a no pass grade if you have more than 
            <span class="font-weight-bold">two</span> 
            unexcused absences. Make sure to contact us if you can't make it to class!
        </div>
    {% endif %}
{% endblock %}