{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block script %}
    <script>
        let content_collapsed = {
            "video_collapse_btn": true,
        }
        function collapse(id) {
            if (btn = document.querySelector("#" + id)) {
                btn.innerHTML = content_collapsed[id] ? "Show Less" : "Show All"
                content_collapsed[id] = !content_collapsed[id]
            }
        }
    </script>
{% endblock %}

{% block error %}
    {% if error %}
        <div class="p-1" id="err_msg">
            <div><strong>Error: {{error.type}}</strong> - {{error.msg}}</div>
            <div>Contact the course instructors if you believe there was a mistake.</div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if videos %}
        <div class="text-center my-3 p-3 bg-light content-box">
            <div class="h2 p-3">Videos</div>
            <div class="row m-2">
                {% for video in videos %}
                    {% if forloop.counter0 < 4 %}
                        <div class="col-lg-6 col-md-12">
                            <div class="my-3">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src={{video.videoURL}}
                                            title="YouTube video player" frameborder="0" 
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="collapse" id="video_collapse">
                <div class="row m-2">
                    {% for video in videos %}
                        {% if forloop.counter0 >= 4 %}
                            <div class="col-lg-6 col-md-12">
                                <div class="my-3">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe src={{video.videoURL}}
                                                title="YouTube video player" frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                                allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            {% if videos|length > 4 %}
                <button id="video_collapse_btn" class="btn btn-primary m-2" type="button" data-toggle="collapse" 
                        data-target="#video_collapse" aria-expanded="false" aria-controls="collapseExample"
                        onclick="collapse('video_collapse_btn')">
                    Show All
                </button>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}