{% extends "base.html" %}
{% load static %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <div class="text-center my-3 p-3 bg-light content-box">
        <div class="p-3">
            <div class="h3">Welcome, {{ student.name }} ({{ student.andrewID }})</div>
            <div class="text-muted">
                Not you? 
                <u><a class="text-muted" href="{% url 'logout' %}">Log out</a></u>
            </div>
        </div>
        <div class="my-4">
            <div class="my-2">
                <span class="h5">Enter your Minecraft username* and Discord ID** here </span>
            </div>
            <form action="{% url 'registration' %}" 
                method="post" class="my-4">
                <div class="m-4">
                    <div class="d-flex justify-content-center">
                        <input type="text" class="form-control w-50 bg-white"
                            name="{{ form.IGN.name }}"
                            id="id_{{ form.IGN.name }}"
                            placeholder="Minecraft username" 
                            autofocus onClick="this.select();"> 
                    </div>
                    {% for err in form.IGN.errors %}
                        <div class="text-danger m-2">{{ err|escape }}</div>
                    {% endfor %}
                </div>
                <div class="m-4">
                    <div class="d-flex justify-content-center">
                        <input type="text" class="form-control w-50 bg-white"
                            name="{{ form.discord.name }}"
                            id="id_{{ form.discord.name }}"
                            placeholder="Discord ID" 
                            autofocus onClick="this.select();"> 
                    </div>
                    {% for err in form.discord.errors %}
                        <div class="text-danger m-2">{{ err|escape }}</div>
                    {% endfor %}
                </div>

                {% csrf_token %}
                {% if student.IGN %}
                    <a class="btn btn-link mx-2" href="{% url 'account' %}">Cancel</a>
                {% endif %}
                <button type="submit" class="btn btn-primary mx-2">Submit</button>
            </form>
        </div>
    </div>
    <div class="text-muted font-weight-light m-4 text-left">
        * Minecraft usernames (IGNs) are case-sensitive, 
        so please double check that the spelling and capitalization are correct. 
        Go to your Minecraft 
        <u><a class="text-muted" href="https://www.minecraft.net/en-us/profile" target="_blank">profile page</a></u> 
        to find or change your username.
        <br/><br/>
        ** Discord ID is the id/username that identifies you on the server, formatted as "name#tagline",
        for example Trollium#9248. You can find this at the bottom left corner in Discord.
    </div>
    
{% endblock %}